dist
logs
*.csv
.env
!decp_augmente_valides_*_test.csv
.venv
*.egg-info
*.parquet
*.gz
*.zip
__pycache__
.pytest_cache
build
.vscode
.idea
todo.md
test.*
wiki
*.lock
data/sirene*
data/storage
data/decp*
